.joinOuterContainer {
  justify-content: center;
  text-align: center;
  height: 100%;
  align-items: center;
  background-color: #1a1a1d;
}
.joinInnerContainer {
  width: 20%;
  text-align:center;
  margin: auto;
  margin-bottom: 5%;
}
.myrooms{
  padding:2%;
  margin:5%;
  margin-bottom:10%;
}
.joinInput {
  padding: 15px 20px;
  width: 100%;
}
.mt-20 {
  margin-top: 20px;
}
.heading {
  color: white;
  font-size: 2.5rem;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}
.button {
  color: #fff;
  text-transform: uppercase;
  background: #2979ff;
  padding: 20px;
  display: inline-block;
  width: 100%;
}

.btn-chatBox {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.chat_window {
  height: 80vh;
  width: 25vw;
  position: fixed;
  bottom: 8vh;
  right: 10px;
  border: 1px solid #292b2c;
  border-radius: 5px;
}

.chat_message_window {
  height: 65vh;
  overflow-y: scroll;
}

.chat_window .input-group {
  width: 25vw;
}

.chat_header {
  padding: 20px;
}

.chat_input_container {
  position: absolute;
  bottom: 0px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }
  .joinInnerContainer {
    width: 90%;
  }
}

butto:focus {
  outline: 0;
}

.history{
  color: aliceblue;
}